<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Blog listing
  screenshotPath: ../images/template-previews/blog-index.png
-->

{% extends "./layouts/base.html" %}

{% block body %}

    {% module "blog-listing-hero" path="../modules/blog-listing-hero", label="Blog Listing Hero", no_wrapper=True %}

    <section class="bg-alt-bg">
        <div class="container !px-4 md:!px-6 !py-8 md:!py-16">
            {% module "blog-listing" path="../modules/blog-listing", title="Blog Listing", no_wrapper=True %}
            {% if contents.total_page_count > 1 and not simple_list_page %}
                <div id="pagination" class="mt-10 md:mt-20">
                    {% module "blog-pagination" path="../modules/blog-pagination", title="Blog Pagination", no_wrapper=True %}
                </div>
            {% endif %}
        </div>
    </section>

    {# Call to action #}
    {% dnd_area "cta-area" label="CTA area" %}
        {% include_dnd_partial path="../sections/call-to-action.html" %}
    {% end_dnd_area %}

{% endblock body %}
