<!--
  templateType: "none"
  isAvailableForNewContent: false
-->  
{% from './tick-list.html' import tick_list %}

{% macro info_card(image, title, text_field, ticks, classes="", delay, link="") %}

    {% set highlighted = "AskBlue" %}
    {% set highlighted_html = '<span class="font-bold text-white"><span class="text-bright-blue">Ask</span>Blue</span>' %}
    {% set title_final = title is string_containing highlighted ? title|replace(highlighted, highlighted_html, 1) : title %}
    {% set text_final = text_field is string_containing highlighted ? text_field|replace(highlighted, highlighted_html, 1) : text_field %}
    {% set href = link == '/'
        ? link
        : (
            link and link != '/' and link.url and link.url.type == "EMAIL_ADDRESS"
            ? "mailto:" ~ link.url.href
            : (link and link != '/' and link.url ? link.url.href : '/')
        )
    %}

    {% set shared_attrs %}data-animate-on-scroll
        data-animate-class="animate-fade-up"
        class="gradient-border rounded overflow-hidden text-center group {{ classes }}{% if is_in_editor %}animate-fade-up{% else %}animate-start-fade-up-8{% endif %}"
        style="--delay: {{ delay }}ms; --duration: 400ms;"
    {% endset %}

    {% set inner_content %}
        <div class="rounded flex h-full flex-col px-2 gap-2 md:gap-4 py-2 sm:py-4 md:py-10 md:px-4 lg:px-6 items-center text-center text-off-white text-sm sm:text-base md:text-lg bg-dark-blue group-hover:bg-darkest-blue group-hover:text-turquoise">
            {% if image %}
                {% if 'Icons' in image %}
                    <div class="text-turquoise">
                        <img
                            class="info-card-icon-mask h-6 sm:h-8"
                            alt="{{ title or text_field }}"
                            src="{{ image }}"
                            style="
                                -webkit-mask-image: url('{{ image|escape_url }}');
                                mask-image: url('{{ image|escape_url }}');
                            "
                        />
                    </div>
                {% else %}
                    <img
                        class="h-6 sm:h-8"
                        alt="{{ title or text_field }}"
                        src="{{ image }}"
                    />
                {% endif %}
            {% endif %}

            {% if title_final %}
                <p class="text-white font-bold text-xl">{{ title_final|safe }}</p>
            {% endif %}

            {% if text_final %}
                <p>{{ text_final|safe }}</p>
            {% endif %}

            {% if ticks|length > 0 %}
                {{ tick_list(ticks) }}
            {% endif %}
        </div>
    {% endset %}

    {% if link %}
        <a href="{{ href }}" {{ shared_attrs }}>{{ inner_content }}</a>
    {% else %}
        <li {{ shared_attrs }}>{{ inner_content }}</li>
    {% endif %}

{% endmacro %}