<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{% macro logos_strip(logos, title, animate=false, compact=false) %}

{% set grid_classes = compact == true ? 'grid-cols-2 sm:grid-cols-3 md:grid-cols-2 xl:grid-cols-3' : 'grid-cols-2 sm:grid-cols-3 lg:grid-cols-6' %}
{% set animate_start_class = animate == true ? 'animate-start-fade-up-8' : '' %}
{% set animate_end_class = animate == true ? 'animate-fade-up' : '' %}

<div class='gradient-border sm:rounded overflow-hidden w-full'>
    <div class='bg-dark-blue-alt  sm:rounded pt-7 pb-10 text-center flex items-center justify-between flex-col gap-6'>
        <h6 class="!text-water !font-bold uppercase">{{ title }}</h6>
        <ul class='grid {{ grid_classes }} lg:px-8 justify-center gap-4 gap-y-8 xl:gap-12'>
            {% for item in logos %}
                {% set delay_ms = (loop.index - 1) * 200 %}
                <li data-animate-on-scroll
                    data-animate-class="{{ animate_end_class }}"
                    class="h-6 sm:h-7 md:h-6 lg:h-7 flex self-center justify-center {% if is_in_editor %}{{ animate_end_class }}{% else %}{{ animate_start_class }}{% endif %}"
                    style="--delay: {{ delay_ms }}ms; --duration: 400ms;"
                >
                    <img src="{{ item.company_logo }}" class="h-6 sm:h-7 md:h-6 lg:h-7 opacity-70" alt="{{ item.company_name }}" />
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endmacro %}