<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{% import './button.html' as b %}
{% import './product-image.html' as pi %}
{% import './tick-list.html' as tl %}

{% macro side_by_side_panel(panel) %}
    {% set outer_classes = panel.bordered ? "gradient-border rounded p-px" : "" %}
    {% set inner_classes = panel.bordered ? "rounded p-10 match-nearest-bg" : "" %}
    {% set flex_classes = panel.image_position == "right" ? "flex-col md:flex-row" : "flex-col-reverse md:flex-row-reverse" %}
    {% set title_classes = panel.app_logo ? "text-turquoise uppercase text-xl font-medium" : "text-water font-light text-4xl" %}
    
    <div class="{{ outer_classes }}">
        <div class="flex {{ flex_classes }} {{ inner_classes }} gap-16">
            <div class="flex flex-col justify-center items-start gap-6 text-text-color text">
                {% if panel.app_logo %}
                    <img class="h-11" alt="{{ panel.app_name }}" src="{{ panel.app_logo }}" />
                {% endif %}
                <h4 class="{{ title_classes }}">{{ panel.title }}</h4>
                {% for para in panel.basic_text %}
                    <p class="text-lg">{{ para }}</p>
                {% endfor %}
    
                {% if panel.tick_list_item|length > 0 %}
                    {{ tl.tick_list(panel.tick_list_item) }}
                {% endif %}
    
                {% if panel.button|length > 0 %}
                    <div class="flex gap-6">
                        {% for button in panel.button %}
                            {{ b.button(button.button_text, button.url, button.style) }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {{ pi.product_image(panel.image, "editor_v5", "Editor screenshot")}}
        </div>
    </div>
{% endmacro %}
