<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{% from './button.html' import button %}
{% from './product-image.html' import product_image %}
{% from './tick-list.html' import tick_list %}

{% macro side_by_side_panel(panel) %}
    {% set outer_classes = panel.bordered ? "gradient-border rounded p-px" : "" %}
    {% set inner_classes = panel.bordered ? "rounded p-10 match-nearest-bg" : "" %}
    {% set flex_classes = panel.image_position == "right" ? "flex-col md:flex-row" : "flex-col-reverse md:flex-row-reverse" %}
    {% set title_classes = panel.app_logo ? "text-turquoise uppercase text-xl font-medium" : "text-water font-light text-4xl" %}
    
    <div class="{{ outer_classes }}">
        <div class="flex {{ flex_classes }} {{ inner_classes }} gap-16">
            <div class="flex flex-col md:flex-1 justify-center items-start gap-6 text-text-color text">
                {% if panel.app_logo %}
                    <img class="h-11" alt="{{ panel.app_name }}" src="{{ panel.app_logo }}" />
                {% endif %}
                <h4 class="{{ title_classes }}">{{ panel.title }}</h4>
                {% for para in panel.basic_text %}
                    <p class="text-lg">{{ para }}</p>
                {% endfor %}

                {% if panel.two_column_text|length > 0 %}
                    <div class="flex flex-col sm:flex-row md:flex-col lg:flex-row gap-6">
                        {% for column in panel.two_column_text %}
                            <div class="flex-col gap-4 text-lg">
                                <p class="font-bold">{{ column.heading }}</p>
                                <p>{{ column.text_field }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
    
                {% if panel.ticks|length > 0 %}
                    {{ tick_list(panel.ticks) }}
                {% endif %}
    
                {% if panel.button|length > 0 %}
                    <div class="flex gap-6">
                        {% for btn in panel.button %}
                            {{ button(btn.button_text, btn.url, btn.style) }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if panel.product_image.src %}
                {{ product_image(panel.product_image.src, "editor_v5", "Editor screenshot")}}
            {% else if panel.context_image.src %}
                <div class="self-center flex-1 max-w-[960px]">
                    <img src="{{ panel.context_image.src|escape_url }}" alt="{{ panel.title|escape_attr }}">
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
