{% from '../../macros/button.html' import button %}

<section class="flex flex-col gap-10">

    <div class="flex flex-col gap-6 items-center justify-center text-center">
        {% if module.small_title %}
            <p class="text-off-white/80 text-2xl font-semibold">{{ module.small_title }}</p>
        {% endif %}
        {% if module.title %}
            <h2 class="text-water text-5xl font-light max-w-[960px]">{{ module.title }}</h2>
        {% endif %}
    </div>

    <div class="flex flex-col gap-10 lg:gap-20">
        {% for panel in module.panels %}
            <div class="rounded-lg p-10 gap-10 items-center flex odd:bg-darkest-blue even:flex-row-reverse">
                <div class="flex-1 flex flex-col items-start gap-6">
                    <div class="inline-flex items-center gap-2 bg-[#175299] text-white rounded-xl px-2 py-1 w-fit">
                        <img src="{{ panel.tag_image }}" alt="" class="w-5 h-5 brightness-0 invert" />
                        <span class="text-sm font-medium">{{ panel.tag_text }}</span>
                    </div>
                    <h3 class="text-water-light text-4xl font-light">{{ panel.title }}</h3>
                    {% if panel.body_text %}
                        <p class="text-off-white text-lg">{{ panel.body_text }}</p>
                    {% endif %}
                    
                    {% set href = panel.button_link == '/'
                        ? panel.button_link
                        : (
                            panel.button_link and panel.button_link != '/' and panel.button_link.url and panel.button_link.url.type == "EMAIL_ADDRESS"
                            ? "mailto:" ~ panel.button_link.url.href
                            : (panel.button_link and panel.button_link != '/' and panel.button_link.url ? panel.button_link.url.href : '/')
                        )
                    %}
                    <a href="{{ panel.button_link.url.type == "CALL_TO_ACTION" ? href : href|escape_url }}" class="group text-turquoise transition-all duration-250 self-start"
                    >
                        {{ panel.button_text }}
                        <span class="block max-w-0 group-hover:max-w-full transition-all duration-250 h-px bg-turquoise"></span>
                    </a>
                </div>
                
                <div class="flex-1 flex justify-center">
                    <img class="max-w-[500px]" src="{{ panel.image_field.src }}" alt="{{ panel.image_field.alt }}"/>
                </div>
            </div>
        {% endfor %}
    </div>

</section>