form {

  .hs-recaptcha .grecaptcha-badge {
    @apply rounded-md overflow-hidden;
  }
  fieldset {
    @apply relative;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply block w-full rounded-lg border border-gray-300 bg-white text-gray-900 placeholder:text-stone-600 focus:border-blue-500 focus:ring-blue-500;

    /* font-size: 1rem; */
    /* line-height: 1.5rem; */
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 44px;
  }

  .radio-rows {
    .inputs-list {
      @apply flex;

      li {
        @apply mr-12;
      }
    }
  }

  [type="radio"] {
    @apply mr-2;
  }

  ul.hs-error-msgs {
    @apply text-sm;
    @apply list-none m-0 p-0;

    label {
      @apply text-red-500;
    }
  }

  .is-invalid,
  .error,
  .invalid,
  [aria-invalid="true"] {

  }

}

.body-container--form {

    .hsfc-Form {
        @media (width >= 48rem) {
            position: relative;
            padding-left: 16px;
            /* no padding needed if you want overlay */
            &::before {
                content: '';
                position: absolute;
                left: -40px;        /* extends 8px LEFT of parent */
                top: 0;
                bottom: 0;
                width: 1px;
                background: linear-gradient(180deg, #43e3c2 0%, #30abff 50%, #43e3c2 100%);
                border-radius: 2px;
            }
        }
    }
    
    .hsfc-Step__Content {
        padding: 0 !important;
        gap: 24px !important;
        display: flex;
        flex-direction: column;
    }
    
    .hsfc-Heading {
        color: #f5f5f5 !important;
        font-size: 24px !important;
        font-weight: bold;
    }
    
    .hsfc-RichText {
        color: #B1B6C0 !important;
    }

    .hsfc-PostSubmit {
        padding: 16px 0;

        .hsfc-RichText {
            color: #f5f5f5 !important;
            position: relative;
            padding-top: 3.5rem; /* space for icon */
            display: flex;
            flex-direction: column;
            gap: 16px;
            text-align: center;
        }

        .hsfc-RichText::before {
            content: '';
            position: absolute;
            left: calc(50% - 1.5rem);
            top: 0;
            width: 3rem;
            height: 3rem;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="%2343e3c2" viewBox="0 0 256 256"><path d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z"></path></svg>');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .hsfc-TextField,
    .hsfc-EmailField,
    .hsfc-PhoneField,
    .hsfc-DropdownField,
    .hsfc-TextareaField {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &:has(.hsfc-TextInput:focus-visible),
        &:has(.hsfc-TextInput:focus),
        &:has(.hsfc-TextareaInput:focus-visible),
        &:has(.hsfc-PhoneInput__FlagAndCaret:focus),
        &:has(.hsfc-PhoneInput__FlagAndCaret:focus-visible),
        &:has(.hsfc-TextareaInput:focus),
        &:has(.hsfc-EmailInput:focus-visible),
        &:has(.hsfc-EmailInput:focus) {
            .hsfc-FieldLabel {
                color: #43E3C2 !important;
            }

            .hsfc-FieldLabel__RequiredIndicator {
                color: #FFFFFF !important;
            }
        }
    }

    .hsfc-FieldLabel {
        font-size: 14px !important;
        color: #B0B0B0 !important;
        margin-bottom: 0 !important;
    }

    .hsfc-FieldLabel__RequiredIndicator {
        color: #B1B6C0 !important;
        margin-left: 2px;
    }

    .hsfc-ErrorAlert {
        font-size: 14px !important;
        color: #f38b89 !important;
    }

    .hsfc-TextareaInput,
    .hsfc-TextInput,
    .hsfc-PhoneInput,
    .hsfc-PhoneInput__FlagAndCaret {
        color: #f5f5f5 !important;
        border-color: #3C4A63 !important;
        background-color: transparent !important;
        margin-bottom: 0 !important;
        &:focus, &:focus-visible {
            border-color: #43E3C2 !important;
        }
    }

    .hsfc-DropdownInput__Caret span,
    .hsfc-PhoneInput__FlagAndCaret__Caret {
        border-top-color: #B0B0B0 !important;
    }

    .hsfc-Row {
        grid-template-columns: unset !important;
        gap: 24px !important;
        margin-bottom: 0 !important;
        @media (width >= 40rem) {
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr)) !important;
        }
        @media (width >= 48rem) {
            grid-template-columns: unset !important;
        }
        @media (width >= 64rem) {
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr)) !important;
        }
    }

    .hsfc-NavigationRow {
        margin-top: 0 !important;
    }

    button[type=submit] {
        @apply inline-flex items-center justify-center rounded uppercase overflow-hidden h-10 bg-turquoise text-dark-blue button-streak filled-button-streak text-sm px-5 transition-colors duration-300 ease-in-out outline-none backdrop-blur-14;

        &:hover {
            @apply !bg-white !text-dark-blue;
            transform: translateY(0) !important;
            &::before {
                transform: skewX(-30deg) translateX(115%);
            }
        }
    }
}


/*
form,
.submitted-message {
  {{ body_font.style }};
  {{ form_border }};
  border-top-left-radius: {{ form_top_left_corner_radius }};
  border-top-right-radius: {{ form_top_right_corner_radius }};
  border-bottom-left-radius: {{ form_bottom_left_corner_radius }};
  border-bottom-right-radius: {{ form_bottom_right_corner_radius }};
  background-color: {{ form_bg_color }};
  {{ form_padding }};
}
*/

/* Form title

.form-title {
  {{ form_title_border}};
  {{ form_title_spacing }};
  {{ form_title_font.style }};
  border-top-left-radius: {{ form_title_top_left_corner_radius }};
  border-top-right-radius: {{ form_title_top_right_corner_radius }};
  border-bottom-left-radius: {{ form_title_bottom_left_corner_radius }};
  border-bottom-right-radius: {{ form_title_bottom_right_corner_radius }};
  font-size: {{ form_title_font.size  ~ form_title_font.size_unit }};
  color: {{ form_title_font.color }};
  background-color: {{ form_title_bg_color }};
}
*/

/* Labels

form label {
  color: {{ form_label_font_color }};
}
*/

/* Help text

form legend {
  color: {{ form_help_text_font_color }};
}
*/

/* Inputs

form input[type=text],
form input[type=search],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  {{ form_field_border }}
  background-color: {{ form_field_bg_color }};
  color: {{ form_field_font_color }};
  border-radius: {{ form_field_corner_radius }};
}
*/

/* Form placeholder text

::-webkit-input-placeholder {
  color: {{ form_field_placeholder_color }};
}

::-moz-placeholder {
  color: {{ form_field_placeholder_color }};
}

:-ms-input-placeholder {
  color: {{ form_field_placeholder_color }};
}

::placeholder {
  color: {{ form_field_placeholder_color }};
}
*/

/* Inputs - date picker

.hs-fieldtype-date .input .hs-dateinput:before {
  color: {{ form_field_placeholder_color }};
}

.fn-date-picker td.is-selected .pika-button {
  background: {{ primary_color }};
}

.fn-date-picker td .pika-button:hover {
  background-color: {{ primary_color }} !important;
}

.fn-date-picker td.is-today .pika-button {
  color: {{ primary_color }};
}
*/

/* Submit button

form input[type=submit],
form .hs-button {
  {{ form_submit_button_border }};
  {{ form_submit_button_spacing }};
  {{ form_submit_button_font.style }};
  color: {{form_submit_button_font.color}};
  font-size: {{form_submit_button_font.size ~ form_submit_button_font.size_unit}};
  background-color: {{ form_submit_button_bg_color }};
  border-radius: {{ button_corner_radius }};
  text-transform: {{ button_text_transform }};
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:hover,
form .hs-button:focus {
  background-color: {{ form_submit_button_bg_color_hover }};
  color: {{form_submit_button_color_hover}};
  {{ form_submit_button_border_hover }};
}

form input[type=submit]:active,
form .hs-button:active {
  background-color: rgba({{ color_variant(theme.buttons.background.color.color, 40)|convert_rgb }}, {{ theme.buttons.background.color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border.border.top.color, 40) }};
}
*/